<div class="'ng-star-inserted">
  <div
    class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-section ng-star-inserted"
  >
    <button
      pbutton=""
      pripple=""
      label="Display"
      class="p-element p-ripple p-button p-component"
    >
      <span class="p-button-label">Modal</span
      ><span
        class="p-ink"
        style="height: 97px; width: 97px; top: -34.5px; left: 1.54688px"
      ></span></button
    ><p-dialog
      appendto="body"
      header="Title Placeholder"
      class="p-element ng-tns-c79-47 ng-star-inserted"
      ><!----></p-dialog
    >
  </div>
  <!-- --Modal content-------------------------------------------------------------------------------------- -->

  <div
    class="ng-tns-c79-47 p-dialog-mask p-component-overlay p-component-overlay-enter p-dialog-mask-scrollblocker ng-star-inserted"
    style="z-index: 1100"
  >
    <div
      pfocustrap=""
      role="dialog"
      class="p-element ng-trigger ng-trigger-animation ng-tns-c79-47 p-dialog p-component ng-star-inserted"
      aria-labelledby="pr_id_28-label"
      pr_id_28=""
      style="width: 40vw; z-index: 1101"
    >
      <div class="p-dialog-header ng-tns-c79-47 ng-star-inserted" style="">
        <span
          class="p-dialog-title ng-tns-c79-47 ng-star-inserted"
          id="pr_id_28-label"
          >Title Placeholder</span
        ><!----><!----><!---->
        <div class="p-dialog-header-icons ng-tns-c79-47">
          <!----><button
            type="button"
            pripple=""
            class="p-ripple p-element ng-tns-c79-47 p-dialog-header-icon p-dialog-header-close p-link ng-star-inserted"
            tabindex="-1"
          >
            <span
              class="p-dialog-header-close-icon ng-tns-c79-47 pi pi-times"
            ></span
            ><span class="p-ink"></span></button
          ><!---->
        </div>
      </div>
      <!---->
      <div class="ng-tns-c79-47 p-dialog-content">
        <div
          class="flex flex-wrap border-top-1 surface-border pt-4 ng-tns-c79-47"
        >
          <div
            class="bg-blue-50 flex align-items-center justify-content-center py-3 px-0 w-full md:w-4 border-round"
          >
            <img
              src="assets/images/blocks/illustration/security.svg"
              alt="Image"
              class="w-9"
            />
          </div>
          <p class="text-700 line-height-3 m-0 p-5 w-full md:w-8">
            Sagittis eu volutpat odio facilisis mauris sit amet. Sed velit
            dignissim sodales ut eu sem integer. Sed risus pretium quam
            vulputate. At tellus at urna condimentum mattis pellentesque.
          </p>
        </div>
        <!----><!---->
      </div>
      <div class="p-dialog-footer ng-tns-c79-47 ng-star-inserted" style="">
        <div class="border-top-1 surface-border pt-3 ng-star-inserted">
          <button
            pbutton=""
            pripple=""
            icon="pi pi-times"
            label="Cancel"
            class="p-element p-ripple p-button-text p-button p-component"
          >
            <span
              class="p-button-icon p-button-icon-left pi pi-times"
              aria-hidden="true"
            ></span
            ><span class="p-button-label">Cancel</span
            ><span class="p-ink"></span></button
          ><button
            pbutton=""
            pripple=""
            icon="pi pi-check"
            label="Save"
            class="p-element p-ripple p-button p-component"
          >
            <span
              class="p-button-icon p-button-icon-left pi pi-check"
              aria-hidden="true"
            ></span
            ><span class="p-button-label">Save</span><span class="p-ink"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
  <p-divider></p-divider>
  <!-- ---------------------------------------------------------------------------------------- -->

  <div
    class="align-items-start flex justify-content-end lg:px-8 md:px-6 overflow-hidden px-4 py-8 relative ng-star-inserted"
    style="height: 100vh"
  >
    <button
      pbutton=""
      pripple=""
      label="Display"
      icon="pi pi-arrow-left"
      pstyleclass="#slideover-4"
      enterclass="hidden"
      enteractiveclass="fadeinright"
      leavetoclass="hidden"
      leaveactiveclass="fadeoutright"
      class="p-element p-ripple p-button p-component"
    >
      <span
        class="p-button-icon p-button-icon-left pi pi-arrow-left"
        aria-hidden="true"
      ></span
      ><span class="p-button-label">Side panel</span
      ><span
        class="p-ink"
        style="height: 121px; width: 121px; top: -38.5px; left: 45.5781px"
      ></span>
    </button>
    <div
      id="slideover-4"
      class="surface-overlay absolute top-0 right-0 shadow-2 w-18rem h-full hidden"
    >
      <div class="flex flex-column h-full">
        <div
          class="flex align-items-start bg-gray-800 justify-content-between p-3"
        >
          <div>
            <div class="text-white text-xl font-medium mb-1">
              Title Placeholder
            </div>
            <p class="m-0 p-0 line-height-3 text-gray-400 text-sm">
              Vitae turpis massa sed tempus egestas sed sed risus.
            </p>
          </div>
          <div>
            <button
              pbutton=""
              pripple=""
              icon="pi pi-times"
              pstyleclass="#slideover-4"
              leavetoclass="hidden"
              leaveactiveclass="fadeoutright"
              class="p-element p-ripple p-button-rounded p-button-text p-button-warning p-button-plain p-button p-component p-button-icon-only"
            >
              <span class="p-button-icon pi pi-times" aria-hidden="true"></span
              ><span aria-hidden="true" class="p-button-label">&nbsp;</span
              ><span
                class="p-ink p-ink-active"
                style="height: 48px; width: 48px; top: -1px; left: -2px"
              ></span>
            </button>
          </div>
        </div>
        <div
          class="m-4 border-2 border-round border-dashed surface-border flex-auto overflow-y-auto"
        ></div>
      </div>
    </div>
  </div>

  <!-- --side content-------------------------------------------------------------------------------------- -->

  <!-- penser au "hidden" dans la 1ere class-->
  <div
    id="slideover-4"
    class="surface-overlay absolute top-0 right-0 shadow-2 w-18rem h-full"
  >
    <div class="flex flex-column h-full">
      <div
        class="flex align-items-start bg-gray-800 justify-content-between p-3"
      >
        <div>
          <div class="text-white text-xl font-medium mb-1">
            Title Placeholder
          </div>
          <p class="m-0 p-0 line-height-3 text-gray-400 text-sm">
            Vitae turpis massa sed tempus egestas sed sed risus.
          </p>
        </div>
        <div>
          <button
            pbutton=""
            pripple=""
            icon="pi pi-times"
            pstyleclass="#slideover-4"
            leavetoclass="hidden"
            leaveactiveclass="fadeoutright"
            class="p-element p-ripple p-button-rounded p-button-text p-button-warning p-button-plain p-button p-component p-button-icon-only"
          >
            <span class="p-button-icon pi pi-times" aria-hidden="true"></span
            ><span aria-hidden="true" class="p-button-label">&nbsp;</span
            ><span
              class="p-ink"
              style="height: 48px; width: 48px; top: -1px; left: -2px"
            ></span>
          </button>
        </div>
      </div>
      <div class="pt-3 border-top-1 surface-border mt-3 flex">
        <button
          pbutton=""
          pripple=""
          icon="pi pi-times"
          label="Cancel"
          pstyleclass="#slideover-5"
          leavetoclass="hidden"
          leaveactiveclass="fadeoutright"
          class="p-element p-ripple p-button-text mr-2 flex-auto p-button p-component"
        >
          <span
            class="p-button-icon p-button-icon-left pi pi-times"
            aria-hidden="true"
          ></span
          ><span class="p-button-label">Cancel</span
          ><span class="p-ink"></span></button
        ><button
          pbutton=""
          pripple=""
          icon="pi pi-check"
          label="Save"
          pstyleclass="#slideover-5"
          leavetoclass="hidden"
          leaveactiveclass="fadeoutright"
          class="p-element p-ripple ml-2 flex-auto p-button p-component"
        >
          <span
            class="p-button-icon p-button-icon-left pi pi-check"
            aria-hidden="true"
          ></span
          ><span class="p-button-label">Save</span><span class="p-ink"></span>
        </button>
      </div>
      <div
        class="m-4 border-2 border-round border-dashed surface-border flex-auto overflow-y-auto"
      ></div>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
  <p-divider></p-divider>
  <!-- ---------------------------------------------------------------------------------------- -->

  <div
    class="align-items-start flex justify-content-end lg:px-8 md:px-6 overflow-hidden px-4 py-8 relative ng-star-inserted"
    style="height: 100vh"
  >
    <button
      pbutton=""
      pripple=""
      label="Display"
      icon="pi pi-arrow-left"
      pstyleclass="#slideover-7"
      enterclass="hidden"
      enteractiveclass="fadeinright"
      leavetoclass="hidden"
      leaveactiveclass="fadeoutright"
      class="p-element p-ripple p-button p-component"
    >
      <span
        class="p-button-icon p-button-icon-left pi pi-arrow-left"
        aria-hidden="true"
      ></span
      ><span class="p-button-label">Side panel Cart</span
      ><span
        class="p-ink"
        style="height: 121px; width: 121px; top: -36.5px; left: 1.57812px"
      ></span>
    </button>
    <div
      id="slideover-7"
      class="surface-overlay absolute top-0 right-0 shadow-2 w-20rem h-full hidden"
    >
      <div class="flex flex-column p-4 h-full">
        <div class="flex align-items-center justify-content-between mb-4">
          <span class="text-900 text-xl font-medium">Profile</span
          ><button
            pbutton=""
            pripple=""
            icon="pi pi-times"
            pstyleclass="#slideover-7"
            leavetoclass="hidden"
            leaveactiveclass="fadeoutright"
            class="p-element p-ripple p-button-rounded p-button-text p-button-plain p-button p-component p-button-icon-only"
          >
            <span class="p-button-icon pi pi-times" aria-hidden="true"></span
            ><span aria-hidden="true" class="p-button-label">&nbsp;</span
            ><span class="p-ink"></span>
          </button>
        </div>
        <div class="flex-auto overflow-y-auto">
          <div class="text-center mb-4">
            <img
              src="assets/images/blocks/avatars/avatar-f-3.png"
              style="width: 70px; height: 70px"
            />
            <div class="text-900 mt-3 mb-2 text-xl font-medium">Isabel Rio</div>
            <span class="text-700">Sales Manager</span>
          </div>
          <div class="flex align-items-center justify-content-between mb-5">
            <a
              pripple=""
              class="p-ripple p-element cursor-pointer flex-shrink-0 border-round inline-flex justify-content-center align-items-center surface-100 hover:surface-200 transition-colors transition-duration-150 border-circle"
              style="width: 38px; height: 38px"
              ><i class="pi pi-comment text-xl text-600"></i
              ><span class="p-ink"></span></a
            ><a
              pripple=""
              class="p-ripple p-element cursor-pointer flex-shrink-0 border-round inline-flex justify-content-center align-items-center surface-100 hover:surface-200 transition-colors transition-duration-150 border-circle"
              style="width: 38px; height: 38px"
              ><i class="pi pi-phone text-xl text-600"></i
              ><span
                class="p-ink"
                style="height: 38px; width: 38px; top: 11px; left: -5px"
              ></span></a
            ><a
              pripple=""
              class="p-ripple p-element cursor-pointer flex-shrink-0 border-round inline-flex justify-content-center align-items-center surface-100 hover:surface-200 transition-colors transition-duration-150 border-circle"
              style="width: 38px; height: 38px"
              ><i class="pi pi-video text-xl text-600"></i
              ><span class="p-ink"></span
            ></a>
          </div>
          <ul class="list-none p-0 m-0">
            <li
              class="surface-100 text-sm text-700 font-medium p-2 border-round mb-1"
            >
              NAME
            </li>
            <li class="text-900 p-2">Isabel Rio</li>
            <li
              class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1"
            >
              MEMBER SINCE
            </li>
            <li class="text-900 p-2">23/10/2021</li>
            <li
              class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1"
            >
              LOCAL TIME
            </li>
            <li class="text-900 p-2">16:40</li>
            <li
              class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1"
            >
              RECENT ORDERS
            </li>
            <li>
              <ul class="list-none p-0 m-0">
                <li class="py-2 border-bottom-1 surface-border">
                  <a
                    pripple=""
                    class="p-ripple p-element cursor-pointer flex align-items-center justify-content-between hover:surface-200 transition-colors transition-duration-150 border-round p-2"
                    ><img
                      src="assets/images/blocks/products/sport-shoe.png"
                      class="mr-3 flex-shrink-0"
                      style="width: 39px; height: 39px" />
                    <div>
                      <span class="block text-900 mb-1">Sports Shoes</span>
                      <p class="m-0 text-600 font-medium text-sm">SRT30321</p>
                    </div>
                    <i class="ml-auto pi pi-chevron-right text-600 text-sm"></i
                    ><span
                      class="p-ink"
                      style="
                        height: 272px;
                        width: 272px;
                        top: -95px;
                        left: 118px;
                      "
                    ></span
                  ></a>
                </li>
                <li class="py-2 border-bottom-1 surface-border">
                  <a
                    pripple=""
                    class="p-ripple p-element cursor-pointer flex align-items-center justify-content-between hover:surface-200 transition-colors transition-duration-150 border-round p-2"
                    ><img
                      src="assets/images/blocks/products/dslr-camera.png"
                      class="mr-3 flex-shrink-0"
                      style="width: 39px; height: 39px" />
                    <div>
                      <span class="block text-900 mb-1">DSRL Camera</span>
                      <p class="m-0 text-600 font-medium text-sm">OBS90211</p>
                    </div>
                    <i class="ml-auto pi pi-chevron-right text-600 text-sm"></i
                    ><span
                      class="p-ink"
                      style="
                        height: 272px;
                        width: 272px;
                        top: -111px;
                        left: -109px;
                      "
                    ></span
                  ></a>
                </li>
                <li class="py-2">
                  <a
                    pripple=""
                    class="p-ripple p-element cursor-pointer flex align-items-center justify-content-between hover:surface-200 transition-colors transition-duration-150 border-round p-2"
                    ><img
                      src="assets/images/blocks/products/wireless-headphone.png"
                      class="mr-3 flex-shrink-0"
                      style="width: 39px; height: 39px" />
                    <div>
                      <span class="block text-900 mb-1">Headphone</span>
                      <p class="m-0 text-600 font-medium text-sm">APE302123</p>
                    </div>
                    <i class="ml-auto pi pi-chevron-right text-600 text-sm"></i
                    ><span
                      class="p-ink"
                      style="
                        height: 272px;
                        width: 272px;
                        top: -114px;
                        left: -110px;
                      "
                    ></span
                  ></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- --Side panel-------------------------------------------------------------------------------------- -->
  <div
    id="slideover-7"
    class="surface-overlay absolute top-0 right-0 shadow-2 w-20rem h-full"
  >
    <div class="flex flex-column p-4 h-full">
      <div class="flex align-items-center justify-content-between mb-4">
        <span class="text-900 text-xl font-medium">Profile</span
        ><button
          pbutton=""
          pripple=""
          icon="pi pi-times"
          pstyleclass="#slideover-7"
          leavetoclass="hidden"
          leaveactiveclass="fadeoutright"
          class="p-element p-ripple p-button-rounded p-button-text p-button-plain p-button p-component p-button-icon-only"
        >
          <span class="p-button-icon pi pi-times" aria-hidden="true"></span
          ><span aria-hidden="true" class="p-button-label">&nbsp;</span
          ><span class="p-ink"></span>
        </button>
      </div>
      <div class="flex-auto overflow-y-auto">
        <div class="text-center mb-4">
          <img
            src="assets/images/blocks/avatars/avatar-f-3b.png"
            style="width: 70px; height: 70px"
          />
          <div class="text-900 mt-3 mb-2 text-xl font-medium">Isabel Rio</div>
          <span class="text-700">Sales Manager</span>
        </div>
        <div class="flex align-items-center justify-content-between mb-5">
          <a
            pripple=""
            class="p-ripple p-element cursor-pointer flex-shrink-0 border-round inline-flex justify-content-center align-items-center surface-100 hover:surface-200 transition-colors transition-duration-150 border-circle"
            style="width: 38px; height: 38px"
            ><i class="pi pi-comment text-xl text-600"></i
            ><span class="p-ink"></span></a
          ><a
            pripple=""
            class="p-ripple p-element cursor-pointer flex-shrink-0 border-round inline-flex justify-content-center align-items-center surface-100 hover:surface-200 transition-colors transition-duration-150 border-circle"
            style="width: 38px; height: 38px"
            ><i class="pi pi-phone text-xl text-600"></i
            ><span class="p-ink"></span></a
          ><a
            pripple=""
            class="p-ripple p-element cursor-pointer flex-shrink-0 border-round inline-flex justify-content-center align-items-center surface-100 hover:surface-200 transition-colors transition-duration-150 border-circle"
            style="width: 38px; height: 38px"
            ><i class="pi pi-video text-xl text-600"></i
            ><span class="p-ink"></span
          ></a>
        </div>
        <ul class="list-none p-0 m-0">
          <li
            class="surface-100 text-sm text-700 font-medium p-2 border-round mb-1"
          >
            NAME
          </li>
          <li class="text-900 p-2">Isabel Rio</li>
          <li
            class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1"
          >
            MEMBER SINCE
          </li>
          <li class="text-900 p-2">23/10/2021</li>
          <li
            class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1"
          >
            LOCAL TIME
          </li>
          <li class="text-900 p-2">16:40</li>
          <li
            class="surface-100 text-sm text-700 font-medium p-2 border-round mt-4 mb-1"
          >
            RECENT ORDERS
          </li>
          <li>
            <ul class="list-none p-0 m-0">
              <li class="py-2 border-bottom-1 surface-border">
                <a
                  pripple=""
                  class="p-ripple p-element cursor-pointer flex align-items-center justify-content-between hover:surface-200 transition-colors transition-duration-150 border-round p-2"
                  ><img
                    src="assets/images/blocks/products/sport-shoe.png"
                    class="mr-3 flex-shrink-0"
                    style="width: 39px; height: 39px" />
                  <div>
                    <span class="block text-900 mb-1">Sports Shoes</span>
                    <p class="m-0 text-600 font-medium text-sm">SRT30321</p>
                  </div>
                  <i class="ml-auto pi pi-chevron-right text-600 text-sm"></i
                  ><span
                    class="p-ink"
                    style="height: 272px; width: 272px; top: -92px; left: 112px"
                  ></span
                ></a>
              </li>
              <li class="py-2 border-bottom-1 surface-border">
                <a
                  pripple=""
                  class="p-ripple p-element cursor-pointer flex align-items-center justify-content-between hover:surface-200 transition-colors transition-duration-150 border-round p-2"
                  ><img
                    src="assets/images/blocks/products/dslr-camera.png"
                    class="mr-3 flex-shrink-0"
                    style="width: 39px; height: 39px" />
                  <div>
                    <span class="block text-900 mb-1">DSRL Camera</span>
                    <p class="m-0 text-600 font-medium text-sm">OBS90211</p>
                  </div>
                  <i class="ml-auto pi pi-chevron-right text-600 text-sm"></i
                  ><span class="p-ink"></span
                ></a>
              </li>
              <li class="py-2">
                <a
                  pripple=""
                  class="p-ripple p-element cursor-pointer flex align-items-center justify-content-between hover:surface-200 transition-colors transition-duration-150 border-round p-2"
                  ><img
                    src="assets/images/blocks/products/wireless-headphone.png"
                    class="mr-3 flex-shrink-0"
                    style="width: 39px; height: 39px" />
                  <div>
                    <span class="block text-900 mb-1">Headphone</span>
                    <p class="m-0 text-600 font-medium text-sm">APE302123</p>
                  </div>
                  <i class="ml-auto pi pi-chevron-right text-600 text-sm"></i
                  ><span class="p-ink"></span
                ></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
  <p-divider></p-divider>
  <!-- ---------------------------------------------------------------------------------------- -->

  <div
    class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-section ng-star-inserted"
  >
    <button
      pbutton=""
      pripple=""
      label="Display"
      class="p-element p-ripple p-button p-component"
    >
      <span class="p-button-label">Display</span
      ><span
        class="p-ink"
        style="height: 97px; width: 97px; top: -22.5px; left: -26.4531px"
      ></span></button
    ><p-toast key="block2" class="p-element ng-tns-c86-52 ng-star-inserted"
      ><div
        class="ng-tns-c86-52 p-toast p-component p-toast-top-right"
        pr_id_33=""
        style=""
      >
        <!---->
      </div></p-toast
    >
  </div>
  <!-- --popup content---------------------------------------------------------------------------------- -->
  <p-toast key="block2" class="p-element ng-tns-c86-52 ng-star-inserted"
    ><div
      class="ng-tns-c86-52 p-toast p-component p-toast-top-right"
      pr_id_33=""
      style=""
    >
      <!---->
    </div></p-toast
  >
</div>
