<div class="ng-star-inserted">
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
      <div
        class="text-center"
        style="
          background: radial-gradient(
            50% 109137.91% at 50% 50%,
            rgba(233, 30, 99, 0.1) 0%,
            rgba(254, 244, 247, 0) 100%
          );
        "
      >
        <span
          class="bg-white text-pink-500 font-bold text-2xl inline-block px-3"
          >404</span
        >
      </div>
      <div class="mt-6 mb-5 font-bold text-6xl text-900 text-center">
        Page Not Found
      </div>
      <p class="text-700 text-3xl mt-0 mb-6 text-center">
        Sorry, we couldn't find the page.
      </p>
      <div class="text-center">
        <button
          type="button"
          pbutton=""
          pripple=""
          label="Go Back"
          icon="pi pi-arrow-left"
          class="p-element p-ripple p-button-text mr-2 p-button p-component"
        >
          <span
            class="p-button-icon p-button-icon-left pi pi-arrow-left"
            aria-hidden="true"
          ></span
          ><span class="p-button-label">Go Back</span
          ><span
            class="p-ink"
            style="height: 127px; width: 127px; top: -41.5px; left: -3.78125px"
          ></span></button
        ><button
          type="button"
          pbutton=""
          pripple=""
          label="Go to Dashboard"
          icon="pi pi-home"
          class="p-element p-ripple p-button p-component"
        >
          <span
            class="p-button-icon p-button-icon-left pi pi-home"
            aria-hidden="true"
          ></span
          ><span class="p-button-label">Go to Dashboard</span
          ><span
            class="p-ink"
            style="height: 193px; width: 193px; top: -76.5px; left: -28.8438px"
          ></span>
        </button>
      </div>
    </div>
  </div>
