<div class="'ng-star-inserted">
    <div class="surface-section px-4 py-5 md:px-6 lg:px-8">

      <div class="flex lg:align-items-center flex-column lg:flex-row">
        <div class="text-3xl font-medium text-900 mr-0 lg:mr-4 mb-4 lg:mb-0">
          Application
        </div>

        <p-tabMenu class="p-element flex-grow-1"
          ><div class="p-tabmenu p-component">
            <div class="p-tabmenu-nav-container">
              <!---->
              <div class="p-tabmenu-nav-content">
                <ul role="tablist" class="p-tabmenu-nav p-reset">
                  <li
                    role="tab"
                    ptooltip=""
                    class="p-element p-tabmenuitem p-highlight ng-star-inserted"
                    aria-selected="true"
                    aria-expanded="true"
                  >
                    <a
                      role="presentation"
                      pripple=""
                      class="p-ripple p-element p-menuitem-link ng-star-inserted"
                      target="undefined"
                      tabindex="0"
                      ><span
                        class="p-menuitem-icon pi pi-home ng-star-inserted"
                      ></span
                      ><!----><span class="p-menuitem-text ng-star-inserted"
                        >Overview</span
                      ><!----><!----><!----><!----><!----><span
                        class="p-ink"
                      ></span></a
                    ><!----><!---->
                  </li>
                  <li
                    role="tab"
                    ptooltip=""
                    class="p-element p-tabmenuitem ng-star-inserted"
                    aria-selected="false"
                    aria-expanded="false"
                  >
                    <a
                      role="presentation"
                      pripple=""
                      class="p-ripple p-element p-menuitem-link ng-star-inserted"
                      target="undefined"
                      tabindex="0"
                      ><span
                        class="p-menuitem-icon pi pi-users ng-star-inserted"
                      ></span
                      ><!----><span class="p-menuitem-text ng-star-inserted"
                        >Members</span
                      ><!----><!----><!----><!----><!----><span
                        class="p-ink"
                      ></span></a
                    ><!----><!---->
                  </li>
                  <li
                    role="tab"
                    ptooltip=""
                    class="p-element p-tabmenuitem ng-star-inserted"
                    aria-selected="false"
                    aria-expanded="false"
                  >
                    <a
                      role="presentation"
                      pripple=""
                      class="p-ripple p-element p-menuitem-link ng-star-inserted"
                      target="undefined"
                      tabindex="0"
                      ><span
                        class="p-menuitem-icon pi pi-shopping-cart ng-star-inserted"
                      ></span
                      ><!----><span class="p-menuitem-text ng-star-inserted"
                        >Sales</span
                      ><!----><!----><!----><!----><!----><span
                        class="p-ink"
                      ></span></a
                    ><!----><!---->
                  </li>
                  <li
                    role="tab"
                    ptooltip=""
                    class="p-element p-tabmenuitem ng-star-inserted"
                    aria-selected="false"
                    aria-expanded="false"
                  >
                    <a
                      role="presentation"
                      pripple=""
                      class="p-ripple p-element p-menuitem-link ng-star-inserted"
                      target="undefined"
                      tabindex="0"
                      ><span
                        class="p-menuitem-icon pi pi-user ng-star-inserted"
                      ></span
                      ><!----><span class="p-menuitem-text ng-star-inserted"
                        >Profile</span
                      ><!----><!----><!----><!----><!----><span
                        class="p-ink"
                      ></span></a
                    ><!----><!---->
                  </li>
                  <li
                    role="tab"
                    ptooltip=""
                    class="p-element p-tabmenuitem ng-star-inserted"
                    aria-selected="false"
                    aria-expanded="false"
                  >
                    <a
                      role="presentation"
                      pripple=""
                      class="p-ripple p-element p-menuitem-link ng-star-inserted"
                      target="undefined"
                      tabindex="0"
                      ><span
                        class="p-menuitem-icon pi pi-cog ng-star-inserted"
                      ></span
                      ><!----><span class="p-menuitem-text ng-star-inserted"
                        >Settings</span
                      ><!----><!----><!----><!----><!----><span
                        class="p-ink"
                      ></span></a
                    ><!----><!---->
                  </li>
                  <!---->
                  <li
                    class="p-tabmenu-ink-bar"
                    style="width: 135px; left: 0px"
                  ></li>
                </ul>
              </div>
              <!---->
            </div>
          </div></p-tabMenu
        >
      </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------- -->
    <p-divider></p-divider>
    <!-- ---------------------------------------------------------------------------------------- -->

    <div class="lg:px-8 md:px-6 px-3 py-8 ng-star-inserted">
      <ul
        class="bg-indigo-500 p-2 m-0 list-none flex overflow-x-auto select-none"
        style="border-radius: 30px"
      >
        <li class="mr-2">
          <a
            pripple=""
            class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center hover:bg-indigo-400 transition-colors transition-duration-150 text-white"
            style="border-radius: 30px"
            ><i class="pi pi-home mr-2"></i
            ><span class="font-medium">Overview</span><span class="p-ink"></span
          ></a>
        </li>
        <li class="mr-2">
          <a
            pripple=""
            class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center hover:bg-indigo-400 transition-colors transition-duration-150 text-white"
            style="border-radius: 30px"
            ><i class="pi pi-users mr-2"></i
            ><span class="font-medium">Members</span
            ><span
              class="p-ink"
              style="
                height: 141px;
                width: 141px;
                top: -67.5px;
                left: -1.54688px;
              "
            ></span
          ></a>
        </li>
        <li class="mr-2">
          <a
            pripple=""
            class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center hover:bg-indigo-400 transition-colors transition-duration-150 text-white"
            style="border-radius: 30px"
            ><i class="pi pi-shopping-cart mr-2"></i
            ><span class="font-medium">Sales</span
            ><span
              class="p-ink"
              style="height: 109px; width: 109px; top: -22.5px; left: 9.92188px"
            ></span
          ></a>
        </li>
        <li class="mr-2">
          <a
            pripple=""
            class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center hover:bg-indigo-400 transition-colors transition-duration-150 text-white"
            style="border-radius: 30px"
            ><i class="pi pi-user mr-2"></i
            ><span class="font-medium">Profile</span
            ><span
              class="p-ink"
              style="
                height: 119px;
                width: 119px;
                top: -23.5px;
                left: -2.71875px;
              "
            ></span
          ></a>
        </li>
        <li>
          <a
            pripple=""
            class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center hover:bg-indigo-400 transition-colors transition-duration-150 bg-white hover:bg-white text-indigo-900"
            style="border-radius: 30px"
            ><i class="pi pi-cog mr-2"></i
            ><span class="font-medium">Settings</span
            ><span
              class="p-ink"
              style="
                height: 131px;
                width: 131px;
                top: -25.5px;
                left: -6.51562px;
              "
            ></span
          ></a>
        </li>
      </ul>
    </div>

    <!-- ---------------------------------------------------------------------------------------- -->
    <p-divider></p-divider>
    <!-- ---------------------------------------------------------------------------------------- -->

    <div class="lg:px-8 md:px-6 px-3 py-8 ng-star-inserted">
      <ul
        class="surface-card p-0 m-0 list-none flex overflow-x-auto select-none"
      >
        <li class="px-3">
          <a
            pripple=""
            class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center border-bottom-2 hover:border-500 transition-colors transition-duration-150 text-700 border-transparent"
            ><i class="pi pi-home mr-2"></i
            ><span class="font-medium">Overview</span
            ><span
              class="p-ink"
              style="height: 140px; width: 140px; top: -36px; left: -27px"
            ></span
          ></a>
        </li>
        <li class="flex align-items-center">
          <div
            class="border-right-1 surface-border"
            style="width: 1px; height: 50%"
          ></div>
        </li>
        <li class="px-3">
          <a
            pripple=""
            class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center border-bottom-2 hover:border-500 transition-colors transition-duration-150 border-blue-500 text-blue-500 hover:border-blue-500"
            ><i class="pi pi-users mr-2"></i
            ><span class="font-medium">Members</span
            ><span
              class="p-ink"
              style="height: 141px; width: 141px; top: -55.5px; left: 33.4531px"
            ></span
          ></a>
        </li>
        <li class="flex align-items-center">
          <div
            class="border-right-1 surface-border"
            style="width: 1px; height: 50%"
          ></div>
        </li>
        <li class="px-3">
          <a
            pripple=""
            class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center border-bottom-2 hover:border-500 transition-colors transition-duration-150 text-700 border-transparent"
            ><i class="pi pi-shopping-cart mr-2"></i
            ><span class="font-medium">Sales</span><span class="p-ink"></span
          ></a>
        </li>
        <li class="flex align-items-center">
          <div
            class="border-right-1 surface-border"
            style="width: 1px; height: 50%"
          ></div>
        </li>
        <li class="px-3">
          <a
            pripple=""
            class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center border-bottom-2 hover:border-500 transition-colors transition-duration-150 text-700 border-transparent"
            ><i class="pi pi-user mr-2"></i
            ><span class="font-medium">Profile</span><span class="p-ink"></span
          ></a>
        </li>
        <li class="flex align-items-center">
          <div
            class="border-right-1 surface-border"
            style="width: 1px; height: 50%"
          ></div>
        </li>
        <li class="px-3">
          <a
            pripple=""
            class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center border-bottom-2 hover:border-500 transition-colors transition-duration-150 text-700 border-transparent"
            ><i class="pi pi-cog mr-2"></i
            ><span class="font-medium">Settings</span
            ><span
              class="p-ink"
              style="
                height: 131px;
                width: 131px;
                top: -48.5px;
                left: -3.51562px;
              "
            ></span
          ></a>
        </li>
      </ul>
    </div>

    <!-- ---------------------------------------------------------------------------------------- -->
    <p-divider></p-divider>
    <!-- ---------------------------------------------------------------------------------------- -->

    <div class="p-5 flex flex-column flex-auto">
      <div>
        <div class="text-900 font-medium text-xl mb-3">Profile</div>
        <p class="m-0 mb-4 p-0 text-600 line-height-3 mr-3">
          Odio euismod lacinia at quis risus sed vulputate odio. Non nisi est
          sit amet. Egestas integer eget aliquet nibh praesent tristique magna.
        </p>
        <div class="surface-card p-4 shadow-2 border-round">
          <div class="grid formgrid p-fluid">
            <div class="field mb-4 col-12">
              <label for="nickname" class="font-medium">Nickname</label
              ><input
                id="nickname"
                type="text"
                pinputtext=""
                class="p-inputtext p-component p-element"
              />
            </div>
            <div class="surface-100 mb-3 col-12" style="height: 2px"></div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="bio" class="font-medium">Bio</label
              ><textarea
                id="bio"
                type="text"
                pinputtextarea=""
                rows="5"
                class="p-inputtextarea p-inputtext p-component p-element p-inputtextarea-resizable"
                style="height: 129px; overflow: hidden"
              ></textarea>
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="avatar" class="font-medium">Avatar</label>
              <div class="flex align-items-center">
                <img
                  src="assets/images/blocks/avatars/avatar-f-4.png"
                  class="mr-4"
                /><p-fileUpload
                  id="avatar"
                  mode="basic"
                  name="avatar"
                  url="./upload.php"
                  accept="image/*"
                  maxfilesize="1000000"
                  styleclass="p-button-outlined p-button-plain"
                  chooselabel="Upload Image"
                  class="p-element"
                  ><!---->
                  <div
                    class="p-fileupload p-fileupload-basic p-component ng-star-inserted"
                  >
                    <p-messages class="p-element ng-tns-c47-18 ng-star-inserted"
                      ><div
                        role="alert"
                        class="p-messages p-component ng-tns-c47-18"
                      >
                        <!----><!----><!----><!---->
                      </div></p-messages
                    ><span
                      tabindex="0"
                      pripple=""
                      class="p-ripple p-element p-button-outlined p-button-plain p-button p-component p-fileupload-choose"
                      ><span
                        class="p-button-icon p-button-icon-left pi pi-plus"
                      ></span
                      ><span class="p-button-label">Upload Image</span
                      ><input
                        type="file"
                        accept="image/*"
                        class="ng-star-inserted" /><!----><span
                        class="p-ink"
                        style="
                          height: 172px;
                          width: 172px;
                          top: -56.5px;
                          left: -13px;
                        "
                      ></span
                    ></span>
                  </div>
                  <!----></p-fileUpload
                >
              </div>
            </div>
            <div class="surface-100 mb-3 col-12" style="height: 2px"></div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="email" class="font-medium">Email</label
              ><input
                id="email"
                type="text"
                pinputtext=""
                class="p-inputtext p-component p-element"
              />
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="country" class="font-medium">Country</label
              ><p-dropdown
                inputid="country"
                optionlabel="name"
                filterby="name"
                placeholder="Select a Country"
                class="p-element p-inputwrapper ng-tns-c55-17 ng-star-inserted"
                ><div
                  class="ng-tns-c55-17 p-dropdown p-component p-dropdown-clearable"
                >
                  <div class="p-hidden-accessible ng-tns-c55-17">
                    <input
                      type="text"
                      readonly=""
                      aria-haspopup="listbox"
                      role="combobox"
                      class="ng-tns-c55-17"
                      id="country"
                      placeholder="Select a Country"
                      aria-expanded="false"
                    />
                  </div>
                  <!----><span
                    class="ng-tns-c55-17 p-dropdown-label p-inputtext p-placeholder ng-star-inserted"
                    >Select a Country</span
                  ><!----><!----><!---->
                  <div
                    role="button"
                    aria-label="dropdown trigger"
                    aria-haspopup="listbox"
                    class="p-dropdown-trigger ng-tns-c55-17"
                  >
                    <span
                      class="p-dropdown-trigger-icon ng-tns-c55-17 pi pi-chevron-down"
                    ></span>
                  </div>
                  <!---->
                </div></p-dropdown
              >
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="city" class="font-medium">City</label
              ><input
                id="city"
                type="text"
                pinputtext=""
                class="p-inputtext p-component p-element"
              />
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="state" class="font-medium">State</label
              ><input
                id="state"
                type="text"
                pinputtext=""
                class="p-inputtext p-component p-element"
              />
            </div>
            <div class="surface-100 mb-3 col-12" style="height: 2px"></div>
            <div class="field mb-4 col-12">
              <label for="website" class="font-medium">Website</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">www</span
                ><input
                  id="website"
                  type="text"
                  pinputtext=""
                  class="p-inputtext p-component p-element"
                />
              </div>
            </div>
            <div class="surface-100 mb-3 col-12" style="height: 2px"></div>
            <div class="field mb-4 col-12">
              <label for="privacy" class="font-medium">Privacy</label>
              <div class="flex align-items-center">
                <p-inputSwitch inputid="privacy" class="p-element"
                  ><div class="p-inputswitch p-component">
                    <div class="p-hidden-accessible">
                      <input
                        type="checkbox"
                        role="switch"
                        id="privacy"
                        aria-checked="false"
                      />
                    </div>
                    <span
                      class="p-inputswitch-slider"
                    ></span></div></p-inputSwitch
                ><span class="ml-2">Share my data with contacts</span>
              </div>
            </div>
            <div class="surface-100 mb-3 col-12" style="height: 2px"></div>
            <div class="col-12">
              <button
                pbutton=""
                pripple=""
                label="Save Changes"
                class="p-ripple p-element w-auto mt-3 p-button p-component"
              >
                <span class="p-ink"></span
                ><span class="p-button-label">Save Changes</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
  <p-divider></p-divider>
  <!-- ---------------------------------------------------------------------------------------- -->

  <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 border-round">
          <div class="p-3 flex align-items-start">
            <img
              src="assets/images/blocks/illustration/btc.png"
              class="mr-2"
              style="width: 32px; height: 32px"
            />
            <div>
              <span class="text-700">Bitcoin</span>
              <div class="text-green-500 text-xl mt-2">+0.53%</div>
            </div>
            <div class="p-2 bg-indigo-50 text-indigo-500 border-round ml-auto">
              0.0045 BTC
            </div>
          </div>
          <img
            src="assets/images/blocks/illustration/graph-1.svg"
            class="w-full"
          />
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 border-round">
          <div class="p-3 flex align-items-start">
            <img
              src="assets/images/blocks/illustration/eth.png"
              class="mr-2"
              style="width: 32px; height: 32px"
            />
            <div>
              <span class="text-700">Ethereum</span>
              <div class="text-green-500 text-xl mt-2">+3.52%</div>
            </div>
            <div class="p-2 bg-indigo-50 text-indigo-500 border-round ml-auto">
              25.0985 ETH
            </div>
          </div>
          <img
            src="assets/images/blocks/illustration/graph-2.svg"
            class="w-full"
          />
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 border-round">
          <div class="p-3 flex align-items-start">
            <img
              src="assets/images/blocks/illustration/btc.png"
              class="mr-2"
              style="width: 32px; height: 32px"
            />
            <div>
              <span class="text-700">Dogecoin</span>
              <div class="text-pink-500 text-xl mt-2">-0.32%</div>
            </div>
            <div class="p-2 bg-indigo-50 text-indigo-500 border-round ml-auto">
              59000 DOGE
            </div>
          </div>
          <img
            src="assets/images/blocks/illustration/graph-3.svg"
            class="w-full"
          />
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 border-round">
          <div class="p-3 flex align-items-start">
            <img
              src="assets/images/blocks/illustration/xlm.png"
              class="mr-2"
              style="width: 32px; height: 32px"
            />
            <div>
              <span class="text-700">Stellar</span>
              <div class="text-green-500 text-xl mt-2">+0.99%</div>
            </div>
            <div class="p-2 bg-indigo-50 text-indigo-500 border-round ml-auto">
              1400 XLM
            </div>
          </div>
          <img
            src="assets/images/blocks/illustration/graph-4.svg"
            class="w-full"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
  <p-divider></p-divider>
  <!-- ---------------------------------------------------------------------------------------- -->

  <div class="px-6 py-5">
    <div class="surface-card p-4 shadow-2 border-round">
      <div class="font-medium text-3xl text-900 mb-3">Applicant Profile</div>
      <div class="text-500 mb-5">
        Egestas sed tempus urna et pharetra pharetra massa massa ultricies.
      </div>
      <ul class="list-none p-0 m-0 border-top-1 border-300">
        <li class="flex align-items-center py-3 px-2 flex-wrap surface-50">
          <div class="text-500 w-full md:w-2 font-medium">Name</div>
          <div class="text-900 w-full md:w-10">Elliot Alderson</div>
        </li>
        <li class="flex align-items-center py-3 px-2 flex-wrap">
          <div class="text-500 w-full md:w-2 font-medium">Bio</div>
          <div class="text-900 w-full md:w-10 line-height-3">
            Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt
            vitae. Commodo odio aenean sed adipiscing diam donec adipiscing
            tristique. Eget felis eget nunc lobortis mattis aliquam faucibus
            purus in.
          </div>
        </li>
        <li class="flex align-items-center py-3 px-2 flex-wrap surface-50">
          <div class="text-500 w-full md:w-2 font-medium">
            Salary Expectation
          </div>
          <div class="text-900 w-full md:w-10">$150,000</div>
        </li>
        <li class="flex align-items-center py-3 px-2 flex-wrap">
          <div class="text-500 w-full md:w-2 font-medium">Skills</div>
          <div class="text-900 w-full md:w-10">
            <p-tag styleclass="mr-2" value="Algorithms" class="p-element"
              ><span class="mr-2 p-tag p-component p-tag-rounded"
                ><!----><span class="p-tag-value">Algorithms</span></span
              ></p-tag
            ><p-tag
              styleclass="mr-2"
              severity="success"
              value="Javascript"
              class="p-element"
              ><span class="mr-2 p-tag p-component p-tag-success p-tag-rounded"
                ><!----><span class="p-tag-value">Javascript</span></span
              ></p-tag
            ><p-tag
              styleclass="mr-2"
              severity="danger"
              value="Python"
              class="p-element"
              ><span class="mr-2 p-tag p-component p-tag-danger p-tag-rounded"
                ><!----><span class="p-tag-value">Python</span></span
              ></p-tag
            ><p-tag severity="warning" value="SQL" class="p-element"
              ><span class="p-tag p-component p-tag-warning p-tag-rounded"
                ><!----><span class="p-tag-value">SQL</span></span
              ></p-tag
            >
          </div>
        </li>
        <li class="flex align-items-center py-3 px-2 flex-wrap surface-50">
          <div class="text-500 w-full md:w-2 font-medium">Repositories</div>
          <div class="text-900 w-full md:w-10">
            <div class="grid mt-0 mr-0">
              <div class="col-12 md:col-6">
                <div class="p-3 border-1 border-300 border-round surface-0">
                  <div class="text-900 mb-2">
                    <i class="pi pi-github mr-2"></i
                    ><span class="font-medium">PrimeFaces</span>
                  </div>
                  <div class="text-700">
                    Ultimate UI Component Suite for JavaServer Faces
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-6">
                <div class="p-3 border-1 border-300 border-round surface-0">
                  <div class="text-900 mb-2">
                    <i class="pi pi-github mr-2"></i
                    ><span class="font-medium">PrimeNG</span>
                  </div>
                  <div class="text-700">
                    The Most Complete Angular UI Component Library
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-6">
                <div class="p-3 border-1 border-300 border-round surface-0">
                  <div class="text-900 mb-2">
                    <i class="pi pi-github mr-2"></i
                    ><span class="font-medium">PrimeReact</span>
                  </div>
                  <div class="text-700">Advanced UI Components for ReactJS</div>
                </div>
              </div>
              <div class="col-12 md:col-6">
                <div class="p-3 border-1 border-300 border-round surface-0">
                  <div class="text-900 mb-2">
                    <i class="pi pi-github mr-2"></i
                    ><span class="font-medium">PrimeVue</span>
                  </div>
                  <div class="text-700">
                    The Most Powerful Vue UI Component Library
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
  <p-divider></p-divider>
  <!-- ---------------------------------------------------------------------------------------- -->

  <div class="lg:px-8 md:px-6 px-4 py-8 ng-star-inserted">
    <div class="w-full">
      <div class="text-900 text-xl mb-3 text-left font-medium">
        Change your account tier1
      </div>
      <div
        class="surface-border border-1 p-3 border-round-top flex align-items-center cursor-pointer surface-card"
      >
        <p-radioButton
          name="tier1"
          styleclass="mr-3"
          class="p-element ng-valid ng-dirty ng-touched"
          ><div class="mr-3 p-radiobutton p-component">
            <div class="p-hidden-accessible">
              <input type="radio" name="tier1" value="0" aria-checked="false" />
            </div>
            <div class="p-radiobutton-box">
              <span class="p-radiobutton-icon"></span>
            </div>
          </div>
          <!----></p-radioButton
        >
        <div class="mr-4 md:mr-8">
          <div class="font-medium mb-1 text-900">Basic</div>
          <span class="text-sm text-600">Quam nulla porttitor massa.</span>
        </div>
        <div
          class="border-round border-1 p-1 ml-auto flex flex-nowrap surface-50 text-600 surface-border"
        >
          <i class="pi pi-star-fill"></i>
        </div>
      </div>
      <div
        class="surface-border border-1 border-top-none p-3 flex align-items-center cursor-pointer surface-card"
      >
        <p-radioButton
          name="tier1"
          styleclass="mr-3"
          class="p-element ng-valid ng-dirty ng-touched"
          ><div class="mr-3 p-radiobutton p-component">
            <div class="p-hidden-accessible">
              <input type="radio" name="tier1" value="1" aria-checked="false" />
            </div>
            <div class="p-radiobutton-box">
              <span class="p-radiobutton-icon"></span>
            </div>
          </div>
          <!----></p-radioButton
        >
        <div class="mr-4 md:mr-8">
          <div class="font-medium mb-1 text-900">Premium</div>
          <span class="text-sm text-600">Quam nulla porttitor massa.</span>
        </div>
        <div
          class="border-round border-1 p-1 ml-auto flex flex-nowrap surface-50 text-600 surface-border"
        >
          <i class="pi pi-star-fill mr-2"></i><i class="pi pi-star-fill"></i>
        </div>
      </div>
      <div
        class="surface-border border-1 border-top-none p-3 border-round-bottom flex align-items-center cursor-pointer bg-primary"
      >
        <p-radioButton
          name="tier1"
          styleclass="mr-3"
          class="p-element ng-untouched ng-pristine ng-valid"
          ><div class="mr-3 p-radiobutton p-component p-radiobutton-checked">
            <div class="p-hidden-accessible">
              <input type="radio" name="tier1" value="2" aria-checked="true" />
            </div>
            <div class="p-radiobutton-box p-highlight">
              <span class="p-radiobutton-icon"></span>
            </div>
          </div>
          <!----></p-radioButton
        >
        <div class="mr-4 md:mr-8">
          <div class="font-medium mb-1 bg-primary">Enterprise</div>
          <span class="text-sm bg-primary">Quam nulla porttitor massa.</span>
        </div>
        <div
          class="border-round border-1 p-1 ml-auto flex flex-nowrap bg-primary-reverse"
        >
          <i class="pi pi-star-fill mr-2"></i
          ><i class="pi pi-star-fill mr-2"></i><i class="pi pi-star-fill"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
  <p-divider></p-divider>
  <!-- ---------------------------------------------------------------------------------------- -->

  <div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="text-900 text-xl font-medium mb-3 text-center">
      Payment Methods
    </div>
    <p class="text-700 mt-0 mb-4 text-center">
      In tellus integer feugiat scelerisque varius morbi.
    </p>
    <div class="grid">
      <div class="col-12 lg:col-6 p-3">
        <div
          class="shadow-2 surface-card p-4 border-2 border-transparent cursor-pointer"
          style="border-radius: 10px"
        >
          <div class="flex align-items-center mb-4">
            <div class="mr-3">
              <span
                class="inline-flex justify-content-center align-items-center bg-indigo-100"
                style="border-radius: 4px; width: 45px; height: 45px"
                ><i class="pi pi-credit-card text-2xl text-indigo-600"></i
              ></span>
            </div>
            <div>
              <span class="text-900 text-xl mb-2 font-medium">Credit Card</span>
              <p class="m-0 text-600 font-medium text-sm">
                Magna fermentum iaculis
              </p>
            </div>
            <p-radioButton
              name="payment"
              class="p-element ml-auto ng-untouched ng-pristine ng-valid"
              ><div class="p-radiobutton p-component">
                <div class="p-hidden-accessible">
                  <input
                    type="radio"
                    name="payment"
                    value="0"
                    aria-checked="false"
                  />
                </div>
                <div class="p-radiobutton-box">
                  <span class="p-radiobutton-icon"></span>
                </div>
              </div>
              <!----></p-radioButton
            >
          </div>
          <p class="text-600 m-0 line-height-3">
            Nunc consequat interdum varius sit. Commodo odio aenean sed
            adipiscing diam donec adipiscing tristique risus.
          </p>
        </div>
      </div>
      <div class="col-12 lg:col-6 p-3">
        <div
          class="shadow-2 surface-card p-4 border-2 border-transparent cursor-pointer border-blue-500"
          style="border-radius: 10px"
        >
          <div class="flex align-items-center mb-4">
            <div class="mr-3">
              <span
                class="inline-flex justify-content-center align-items-center bg-blue-100"
                style="border-radius: 4px; width: 45px; height: 45px"
                ><img
                  src="assets/images/blocks/illustration/paypal.svg"
                  style="height: 1.5rem"
              /></span>
            </div>
            <div>
              <span class="text-900 text-xl mb-2 font-medium">PayPal</span>
              <p class="m-0 text-600 font-medium text-sm">Nibh sit amet</p>
            </div>
            <p-radioButton
              name="payment"
              class="p-element ml-auto ng-untouched ng-pristine ng-valid"
              ><div class="p-radiobutton p-component p-radiobutton-checked">
                <div class="p-hidden-accessible">
                  <input
                    type="radio"
                    name="payment"
                    value="1"
                    aria-checked="true"
                  />
                </div>
                <div class="p-radiobutton-box p-highlight">
                  <span class="p-radiobutton-icon"></span>
                </div>
              </div>
              <!----></p-radioButton
            >
          </div>
          <p class="text-600 m-0 line-height-3">
            Est pellentesque elit ullamcorper dignissim. Tortor condimentum
            lacinia quis vel eros. Pharetra magna ac placerat vestibulum lectus
            mauris ultrices.
          </p>
        </div>
      </div>
      <div class="col-12 lg:col-6 p-3">
        <div
          class="shadow-2 surface-card p-4 border-2 border-transparent cursor-pointer"
          style="border-radius: 10px"
        >
          <div class="flex align-items-center mb-4">
            <div class="mr-3">
              <span
                class="inline-flex justify-content-center align-items-center bg-green-100"
                style="border-radius: 4px; width: 45px; height: 45px"
                ><i class="pi pi-credit-card text-2xl text-green-600"></i
              ></span>
            </div>
            <div>
              <span class="text-900 text-xl mb-2 font-medium"
                >Wire Transfer</span
              >
              <p class="m-0 text-600 font-medium text-sm">Ornare lectus sit</p>
            </div>
            <p-radioButton
              name="payment"
              class="p-element ml-auto ng-untouched ng-pristine ng-valid"
              ><div class="p-radiobutton p-component">
                <div class="p-hidden-accessible">
                  <input
                    type="radio"
                    name="payment"
                    value="2"
                    aria-checked="false"
                  />
                </div>
                <div class="p-radiobutton-box">
                  <span class="p-radiobutton-icon"></span>
                </div>
              </div>
              <!----></p-radioButton
            >
          </div>
          <p class="text-600 m-0 line-height-3">
            Eget nunc lobortis mattis aliquam. Dictumst vestibulum rhoncus est
            pellentesque elit ullamcorper dignissim.
          </p>
        </div>
      </div>
      <div class="col-12 lg:col-6 p-3">
        <div
          class="shadow-2 surface-card p-4 border-2 border-transparent cursor-pointer"
          style="border-radius: 10px"
        >
          <div class="flex align-items-center mb-4">
            <div class="mr-3">
              <span
                class="inline-flex justify-content-center align-items-center bg-orange-100"
                style="border-radius: 4px; width: 45px; height: 45px"
                ><img
                  src="assets/images/blocks/illustration/bitcoin.svg"
                  style="height: 1.5rem"
              /></span>
            </div>
            <div>
              <span class="text-900 text-xl mb-2 font-medium">BitCoin</span>
              <p class="m-0 text-600 font-medium text-sm">
                Donec adipiscing tristique
              </p>
            </div>
            <p-radioButton
              name="payment"
              class="p-element ml-auto ng-untouched ng-pristine ng-valid"
              ><div class="p-radiobutton p-component">
                <div class="p-hidden-accessible">
                  <input
                    type="radio"
                    name="payment"
                    value="3"
                    aria-checked="false"
                  />
                </div>
                <div class="p-radiobutton-box">
                  <span class="p-radiobutton-icon"></span>
                </div>
              </div>
              <!----></p-radioButton
            >
          </div>
          <p class="text-600 m-0 line-height-3">
            Pharetra magna ac placerat vestibulum lectus mauris ultrices. Nec
            dui nunc mattis enim ut tellus elementum sagittis vitae.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
  <p-divider></p-divider>
  <!-- ---------------------------------------------------------------------------------------- -->

  <div class="lg:px-8 md:px-6 px-3 py-8 ng-star-inserted">
    <ul
      class="bg-indigo-500 p-2 m-0 list-none flex overflow-x-auto select-none"
      style="border-radius: 30px"
    >
      <li class="mr-2">
        <a
          pripple=""
          class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center hover:bg-indigo-400 transition-colors transition-duration-150 text-white"
          style="border-radius: 30px"
          ><i class="pi pi-home mr-2"></i
          ><span class="font-medium">Overview</span><span class="p-ink"></span
        ></a>
      </li>
      <li class="mr-2">
        <a
          pripple=""
          class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center hover:bg-indigo-400 transition-colors transition-duration-150 text-white"
          style="border-radius: 30px"
          ><i class="pi pi-users mr-2"></i
          ><span class="font-medium">Members</span
          ><span
            class="p-ink"
            style="height: 141px; width: 141px; top: -67.5px; left: -1.54688px"
          ></span
        ></a>
      </li>
      <li class="mr-2">
        <a
          pripple=""
          class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center hover:bg-indigo-400 transition-colors transition-duration-150 text-white"
          style="border-radius: 30px"
          ><i class="pi pi-shopping-cart mr-2"></i
          ><span class="font-medium">Sales</span
          ><span
            class="p-ink"
            style="height: 109px; width: 109px; top: -22.5px; left: 9.92188px"
          ></span
        ></a>
      </li>
      <li class="mr-2">
        <a
          pripple=""
          class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center hover:bg-indigo-400 transition-colors transition-duration-150 text-white"
          style="border-radius: 30px"
          ><i class="pi pi-user mr-2"></i
          ><span class="font-medium">Profile</span
          ><span
            class="p-ink"
            style="height: 119px; width: 119px; top: -23.5px; left: -2.71875px"
          ></span
        ></a>
      </li>
      <li>
        <a
          pripple=""
          class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center hover:bg-indigo-400 transition-colors transition-duration-150 bg-white hover:bg-white text-indigo-900"
          style="border-radius: 30px"
          ><i class="pi pi-cog mr-2"></i
          ><span class="font-medium">Settings</span
          ><span
            class="p-ink"
            style="height: 131px; width: 131px; top: -25.5px; left: -6.51562px"
          ></span
        ></a>
      </li>
    </ul>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
  <p-divider></p-divider>
  <!-- ---------------------------------------------------------------------------------------- -->

  <div class="lg:px-8 md:px-6 px-3 py-8 ng-star-inserted">
    <ul class="surface-card p-0 m-0 list-none flex overflow-x-auto select-none">
      <li class="px-3">
        <a
          pripple=""
          class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center border-bottom-2 hover:border-500 transition-colors transition-duration-150 text-700 border-transparent"
          ><i class="pi pi-home mr-2"></i
          ><span class="font-medium">Overview</span
          ><span
            class="p-ink"
            style="height: 140px; width: 140px; top: -36px; left: -27px"
          ></span
        ></a>
      </li>
      <li class="flex align-items-center">
        <div
          class="border-right-1 surface-border"
          style="width: 1px; height: 50%"
        ></div>
      </li>
      <li class="px-3">
        <a
          pripple=""
          class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center border-bottom-2 hover:border-500 transition-colors transition-duration-150 border-blue-500 text-blue-500 hover:border-blue-500"
          ><i class="pi pi-users mr-2"></i
          ><span class="font-medium">Members</span
          ><span
            class="p-ink"
            style="height: 141px; width: 141px; top: -55.5px; left: 33.4531px"
          ></span
        ></a>
      </li>
      <li class="flex align-items-center">
        <div
          class="border-right-1 surface-border"
          style="width: 1px; height: 50%"
        ></div>
      </li>
      <li class="px-3">
        <a
          pripple=""
          class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center border-bottom-2 hover:border-500 transition-colors transition-duration-150 text-700 border-transparent"
          ><i class="pi pi-shopping-cart mr-2"></i
          ><span class="font-medium">Sales</span><span class="p-ink"></span
        ></a>
      </li>
      <li class="flex align-items-center">
        <div
          class="border-right-1 surface-border"
          style="width: 1px; height: 50%"
        ></div>
      </li>
      <li class="px-3">
        <a
          pripple=""
          class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center border-bottom-2 hover:border-500 transition-colors transition-duration-150 text-700 border-transparent"
          ><i class="pi pi-user mr-2"></i
          ><span class="font-medium">Profile</span><span class="p-ink"></span
        ></a>
      </li>
      <li class="flex align-items-center">
        <div
          class="border-right-1 surface-border"
          style="width: 1px; height: 50%"
        ></div>
      </li>
      <li class="px-3">
        <a
          pripple=""
          class="p-ripple p-element cursor-pointer px-4 py-3 flex align-items-center border-bottom-2 hover:border-500 transition-colors transition-duration-150 text-700 border-transparent"
          ><i class="pi pi-cog mr-2"></i
          ><span class="font-medium">Settings</span
          ><span
            class="p-ink"
            style="height: 131px; width: 131px; top: -48.5px; left: -3.51562px"
          ></span
        ></a>
      </li>
    </ul>
  </div>

  <!-- ---------------------------------------------------------------------------------------- -->
  <p-divider></p-divider>
  <!-- ---------------------------------------------------------------------------------------- -->

  <!-- ---------------------------------------------------------------------------------------- -->
  <p-divider></p-divider>
  <!-- ---------------------------------------------------------------------------------------- -->

  <div class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center">
    <img
      src="assets/images/blocks/illustration/bastion-purple.svg"
      alt="Image"
      height="50"
    />
    <div class="font-medium text-900 mt-4 mb-3">© 2023 Bastion, Inc</div>
    <p class="text-600 line-height-3 mt-0 mb-4">
      Cursus metus aliquam eleifend mi. Malesuada pellentesque elit eget
      gravida. Nunc eget lorem dolor sed viverra ipsum nunc aliquet bibendum.
      Massa tincidunt dui ut ornare lectus sit amet est placerat.
    </p>
    <div class="flex align-items-center justify-content-center">
      <a class="cursor-pointer text-700 mr-5"><i class="pi pi-twitter"></i></a
      ><a class="cursor-pointer text-700 mr-5"><i class="pi pi-facebook"></i></a
      ><a class="cursor-pointer text-700"><i class="pi pi-github"></i></a>
    </div>
  </div>
